<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>


  <form th:object="${article}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Title', 'title', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />

        <input
                th:replace="~{fragments/inputField :: input ('Author', 'author', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${article['new']} ? 'Add Article' : 'Update Article'"
          class="btn btn-default" type="submit" th:text="${text}">Add
            Article</button>
      </div>
    </div>
  </form>
</body>
</html>
